# Comment out and modify the following lines as you like.
#
# resolution = word
# encoding = UTF-8
# eol = LF
# format = html
# digest = off
# cache = off   # not implemented yet
# verbose = no  # not implemented
